<h2>New Transaction</h2>
<form class="login-container form-floating" [formGroup]="transactionFormGroup" (ngSubmit)="onSubmit()">
    <div class="form-floating mb-3">
        <select name="type" id="type" #tipos class="form-control form-select" formControlName="type" (change)="onSelected(tipos.value)" placeholder="">
            <option *ngFor="let type of types" [value]="type">{{type}}</option>
        </select>
        <label for="type">Type</label>
    </div>
    <div class="form-floating mb-3" >
        <select name="source" id="source" class="form-control form-select" formControlName="source" *ngIf="selectedType == 'Withdrawal'" (change)="onSelectedSource()" placeholder="">
            <option *ngFor="let account of accounts" [value]="account">{{account}}</option>
        </select>
        <input type="text" id="source" class="form-control"  formControlName="source" *ngIf="selectedType == 'Deposit'" (focusout)="focusOutFunction()" placeholder="">
        <label for="source">Source</label>
    </div>    
    <div class="form-floating mb-3">
        <select name="destination" id="destination" class="form-control form-select" formControlName="destination" placeholder="">
            <option *ngFor="let account of accounts" [value]="account">{{account}}</option>
        </select>
        <label for="destination">Destination</label>
    </div>
    <div class="form-floating mb-3">
        <input type="number" id="amount" class="form-control"  formControlName="amount" placeholder="">
        <label for="amount">Amount</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" id="category" class="form-control"  formControlName="category" placeholder="">
        <label for="category">Category</label>
    </div>
    <div class="form-floating mb-3">
        <textarea id="description" class="form-control" formControlName="description" placeholder=""></textarea>
        <label for="description">Description</label>
    </div>
    <div class="btn-section d-grid gap-2 d-md-block">
        <button type="submit" class="btn btn-primary" [disabled]="!transactionFormGroup.valid">Save</button>
        <button type="button" class="btn btn-secondary" (click)="gotoBack()">Go back</button>
    </div>
</form>
