<form action="" class="login-container form-floating" [formGroup]="userForm" (submit)="onSubmit()">
    <div class="form-floating mb-3">
        <input type="text" id="firstName" formControlName="firstName" class="form-control" placeholder="">
        <label for="firstName">First Name</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" id="lastName" formControlName="lastName" class="form-control" placeholder="">
        <label for="lastName">Last Name</label>
    </div>
    <div class="form-floating mb-3">
        <input type="email" id="email" formControlName="email" class="form-control" placeholder="">
        <label for="email">Email</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" id="password" formControlName="password" class="form-control" placeholder="">
        <label for="password">Password</label>
    </div>
    <div class="btn-section">
        <button type="button" class="btn btn-secondary" (click)="gotoBack()">Cancel</button>
        <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid" *ngIf="componentNameOrigin === 'signUp'">Save</button>
    </div>
</form>
