<h2>Dashboard</h2>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card text-bg-danger">
        <!--<img src="..." class="card-img-top" alt="...">-->
        <div class="card-body">
          <h5 class="card-title">Total Withdrawal</h5>
          <p class="card-text display-6">${{totalWithdrawal}}</p>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card text-bg-success">
          <!--<img src="..." class="card-img-top" alt="...">-->
          <div class="card-body">
            <h5 class="card-title">Total Deposits</h5>
            <p class="card-text display-6">${{totalDeposits}}</p>
          </div>
        </div>
    </div>
    <div class="col">
    <div class="card text-bg-secondary">
        <!--<img src="..." class="card-img-top" alt="...">-->
        <div class="card-body">
        <h5 class="card-title">Total Balance</h5>
        <p class="card-text display-6">${{totalBalance}}</p>
        </div>
    </div>
    </div>
</div>