<h2>Transactions</h2>

<button type="button" class="btn btn-secondary" routerLink="/transactions/new">New</button>
<table class="table">
    <thead>
        <tr>
            <!--<th>Id</th>-->
            <th scope="col" (click)="onChangeOrder('type')">Type <span [ngClass]="orderDirection.type ? 'order-pointer-down' : 'order-pointer-up'"></span></th>
            <th scope="col" (click)="onChangeOrder('source')">Source <span [ngClass]="orderDirection.source ? 'order-pointer-down' : 'order-pointer-up'"></span></th>
            <th scope="col">Destination</th>
            <th scope="col">Amount</th>
            <th scope="col" (click)="onChangeOrder('category')">Category <span [ngClass]="orderDirection.category ? 'order-pointer-down' : 'order-pointer-up'"></span></th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
            <th scope="col">Balance</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let transaction of transactions">
            <!--<td>{{transaction.id}}</td>-->
            <td scope="row">{{transaction.type}}</td>
            <td scope="row">{{transaction.source}}</td>
            <td scope="row">{{transaction.destination}}</td>
            <td scope="row">{{transaction.amount}}</td>
            <td scope="row">{{transaction.category}}</td>
            <td scope="row">{{transaction.description}}</td>
            <td scope="row">{{transaction.status}}</td>
            <td scope="row">{{transaction.balance}}</td>
            <td scope="row">{{transaction.date}}</td>
        </tr>
    </tbody>
</table>