/* You can add global styles to this file, and also import other style files */
.btn-section button {
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-control.ng-valid {
    border-left: 5px solid #42A948;
    /* green */
  }
  
.form-control.ng-invalid:not(form) {
    border-left: 5px solid #a94442;
    /* red */
}

.order-pointer-down::after {
    content: "↓";
  }
  
.order-pointer-up::after {
    content: "↑";
  }